body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

@media screen and (max-width: 765px) {
    .display {
        display: none;
    }
}

.nav-black {
    background-color: purple;
    opacity: 0.9;
    color: white;
  }

.footer-wrap {
    display: flex;
    justify-content: space-around;
  }